
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ticket#: {{ $ticket->code }} Sales Receipt</title>
    <link rel="stylesheet" media="all" href="http://64.15.133.96/nexopos/public/modules/nexo/css//bootstrap.min.css" />
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="well col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row order-details">
                <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                    <h2 class="text-center">Olufuko Anual Cultural Festival 2018</h2>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                    26 August - 05 September 2018                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                    Olufuko Festival Centre, Outapi               </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h3>Sale receipt</h3>
                </div>
                <div class="text-center"><strong>{{ $ticket->created_at }}</strong></div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-6">Description</th>
                        <th class="col-md-1 text-right">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="">
                            <!-- Dealing with the item name and alternative name -->
                            Simple Mobile $25 Plan<br>
                            <!-- end -->
                            <br>

                            $ 25.00                                                                                 x 2<br>
                        </td>
                        <td class="text-right">
                            <br>
                            $ 50.00                                     </td>
                    </tr>

                    <tr>
                        <td>Products count</td>
                        <td class="text-right">2</td>
                    </tr>
                    <tr>
                        <td>Discounts</td>
                        <td class="text-right">$ 0.00 </td>
                    </tr>
                    <tr>

                        <td class=""><strong>Sub Total</strong></td>

                        <td class="text-right">
                            $ 50.00                                 </td>
                    </tr>


                    <tr>
                        <td class=""><strong>Net Payable</strong></td>
                        <td class="text-right">
                            $ 50.00                                 </td>
                    </tr>

                    <tr>
                        <td class="">
                            Cash Payment                                    </td>
                        <td class="text-right">
                            $ 50.00                                     </td>
                    </tr>

                    <tr>
                        <td class=""><strong>Total Received Amount<strong></td>
                        <td class="text-right">
                            $ 50.00                                 </td>
                    </tr>
                    <tr>
                        <td class="text-right"><h4><strong>change :</strong></h4></td>
                        <td class="text-right text-danger"><h4><strong>
                            $ 0.00                                 </strong>
                        </h4></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPYAAAAeAQMAAAAly3FkAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAADJJREFUKJFj+Mx/+PCHM/w89jZ/zn/+zG8PZBj8+XD4w+fzn88zf7ZhGJUflR+VH7TyAKwXGPUv3Cu8AAAAAElFTkSuQmCC">    <br>
                    <h3 style="margin:5px 0">180823-001</h3>
                    <!--
                        display: inline-block;
                    margin-top: -20px;
                    background: #FFF;
                    position: relative;
                    width: auto;
                    /* float: left; */
                    top: -18px;
                    padding: 0px 5px;
                    -->
                </div>                <p class="text-center"></p>
                <p class="text-center">TRN: 4348347846</p>
                <div class="container-fluid hideOnPrint">
                    <div class="row hideOnPrint">
                        <div class="col-lg-12">
                            <a href="http://64.15.133.96/nexopos/dashboard/nexo/orders" class="btn btn-success btn-lg btn-block">Return to the Orders list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    * {
        text-transform: uppercase;
    }
    @media print {
        * {
            font-family:Verdana, Geneva, sans-serif;
            text-transform: uppercase;
        }
        .hideOnPrint {
            display:none !important;
        }
        td, th {font-size: 2.8vw;}
        .order-details, p {
            font-size: 2.5vw;
        }
        .order-details h2 {
            font-size: 5.5vw;
        }
        h3 {
            font-size: 2.8vw;
        }
        h4 {
            font-size: 2.8vw;
        }
    }
    /* @page{
        margin-left: 5px;
        margin-right: 10px;
    } */
</style>
<script>
    window.print();
    window.close();
</script>
</body>
</html>

