
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "pulse_variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "pulse";
/*@import "~font-awesome-sass/assets/stylesheets/font-awesome";*/
@import "~ionicons/dist/scss/ionicons";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.sidebar-sticky .nav-link{
  text-transform: uppercase;
  font-weight: bold;
}

// Form labels
form label{
  text-transform: uppercase;
  font-weight: bold;
  color: $primary;
}

.card .card-header{
  text-transform: uppercase;
}

body{
  background: #f8f9fa;
}

